# Development:
# NEXT_PUBLIC_API_URL=http://127.0.0.1:8000
# Production:
# NEXT_PUBLIC_API_URL=https://your-production-backend-url.com
NEXT_PUBLIC_API_URL=http://127.0.0.1:8000
NEXT_PUBLIC_DEMO_STUDENT_ID=
